@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Rubik:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import url('keyframes.css');

* {
    color: white;
    font-family: 'Rubik', Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

body {
    background: rgb(0, 0, 45);/* Really deep blue */
}

.header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header > h1 {
    font-size: xx-large;
    font-weight: bolder;
}

.header > h3 {
    font-size: larger;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

@media only screen and (max-width: 479px) {
    /* For mobile phones: */
    .cards {
        display: flex;
        flex-direction: column;
    }
}

article {
    background: rgb(32, 94, 3);
    border: .5px white solid;
    border-radius: 6px;
    padding: 7px;
    margin: 5px;
    scale: 1;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

article:hover {
    scale: 1.05;
    animation: ease-in-out jiggle;
    animation-duration: 2s;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
}